<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>通知</title>
</head>
<body style="background-color: #f6f6f6; font-family: sans-serif; -webkit-font-smoothing: antialiased; font-size: 14px; line-height: 1.4; margin: 0; padding: 0; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;">


<table class="body" style="border-collapse: separate;  background-color: #f6f6f6; width: 100%;" width="100%" bgcolor="#f6f6f6">
    <tr>
        <td class="container" style="font-family: sans-serif; font-size: 14px; vertical-align: top; display: block; max-width: 580px; padding: 10px; width: 580px; margin: 0 auto;" width="580" valign="top">
            <div class="content" style="box-sizing: border-box; display: block; margin: 0 auto; max-width: 580px; padding: 10px;">

                <!-- START CENTERED WHITE CONTAINER -->
                <table class="main" style="border-collapse: separate; background: #ffffff; border-radius: 3px; width: 100%;" width="100%">

                    <!-- START MAIN CONTENT AREA -->
                    <tr>
                        <td class="wrapper" style="font-family: sans-serif; font-size: 14px; vertical-align: top; box-sizing: border-box; padding: 20px;" valign="top">
                            <table cellpadding="0" cellspacing="0" style="border-collapse: separate; width: 100%;" width="100%">
                                <tr>
                                    <td>
                                        <h1 style="font-size: 20px; line-height: 36px; margin: 0px 0px 22px; border-top: 5px solid #1E499D; padding-top: 15px;">
                                            Hello,
                                        </h1>

                                        <p style="font-size: 16px; margin: 0 0 10px;">
                                            Please see the attached HTML templates.
                                        </p>

                                        <p style="font-size: 16px; margin-bottom: 15px;">
                                            If you have any questions, feel free to reach out.
                                        </p>


                                        <p style="padding-top:35px; font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px;">
                                            {2}
                                        </p>


                                        <p style="padding-top:40px;font-size: 15px">
                                            Sincerely,<br><strong> Team {0} {1}</strong>
                                        </p>
                                        <p style="color:red;font-size: 14px; text-align: center; ">
                                            ********* This is an automatic notification email, please do not reply. *********
                                        </p>

                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <!-- END MAIN CONTENT AREA -->
                </table>
                <!-- END CENTERED WHITE CONTAINER -->

                <!-- START FOOTER -->
                <div class="footer">
                    <table cellpadding="0" cellspacing="0" style="border-collapse: separate; width: 100%;">
                        <tr>
                            <td class="content-block" style="font-family: sans-serif; vertical-align: top; padding-bottom: 10px; padding-top: 10px; color: #999999; font-size: 12px; text-align: center;">
                                <br> Powered by <a href="https://nnroad.com/" style="text-decoration: underline; color: #999999; font-size: 12px; text-align: center;">NNRoad</a>
                            </td>
                        </tr>
                    </table>
                </div>
                <!-- END FOOTER -->

            </div>
        </td>
    </tr>
</table>
</body>
</html>
